body{
    margin: 5%;
    text-align: center;
    background-color: black;
    color: yellow;
}
.input{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input input{
    width: 50vw;
    height: 5vw;
    font-size: 3vw;
    border-radius: 3vw;
    outline: none;
    border: none;
}
.input button{
    width: 15vw;
    height: 5vw;
    border-radius: 1vw;
    font-size: 2vw;
    margin-top: 2%;
    outline: none;
    border: none;
    color: red;
}
#checked{
    font-size: 4vw;
    margin-top: 7%;
    list-style: none;
}

@media (max-width: 321px) {
    .input input{
        width: 70vw;
        height: 12vw;
        font-size: 8vw;
        margin-top: 20%;
    }
    .input button{
        width: 35vw;
        height: 9vw;
        font-size: 7vw;
        margin-top: 15%;
    }
    #checked{
        font-size: 9vw;
        margin-top: 20%;
    }
    #checked li {
        margin-top: 15%;
    }
}

@media (min-width: 321px) and (max-width: 768px) {
    .input input{
        width: 70vw;
        height: 10vw;
        font-size: 5vw;
        margin-top: 5%;
    }
    .input button{
        width: 30vw;
        height: 7vw;
        font-size: 4vw;
        margin-top: 10%;
    }
    #checked{
        margin-top: 10%;
        font-size: 5vw;
    }
    #checked li {
        margin-top: 10%;
    }
}